@import "palette.less";
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,600|Oleo+Script:400,700');
img {
  display: block;
  max-width: 100%;
}

.logo {
  background-color: @white;
  max-width: 50%;
  margin: 0 auto;
}

main {
  background-color: @dark;
  font-size: 16px;
  padding: 1rem;
  img {
    display: block;
    margin: 0 auto;
  }
  h1,
  h2,
  h3,
  h4,
  h6 {
    font-family: 'Oleo Script', cursive;
    color: @yellow;
  }
  h5,
  p,
  blockquote,
  small,
  em,
  figcaption,
  label,
  input,
  textarea {
    font-family: 'Cabin Condensed', sans-serif;
    color: @white;
  }
  section {
    padding-bottom: 1.5rem;
  }
  figure {
    figcaption {
      color: @white;
      font-size: .8rem;
      line-height: 1.1;
      padding: .2rem 1rem;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  h1 {
    font-size: 2rem;
    padding-bottom: .8rem;
    text-align: center;
  }
  h2 {
    font-size: 1.2rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 1rem 0;
  }
  h4 {
    font-size: 1.2rem;
    padding: .5rem 0 1rem;
  }
  h5 {
    color: @light;
    font-weight: 700;
    font-style: italic;
    font-size: .9rem;
    padding: .5rem 0 1.5rem;
    text-align: center;
  }
  p {
    line-height: 1.2;
    padding: 1rem 0;
  }

  .intro {
    h3,
    h4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .machines {
    ul {
      line-height: 2;
      text-align: center;
      li {
        a {
          color: @purple;
          font-family: 'Cabin Condensed', sans-serif;
          font-size: 1.2rem;
        }
        a:hover {
          color: @blue;
        }
      }
    }
    .game-o {
      display: none;
    }
  }
  .gallery {
    .pictures {
      display: grid;
      grid-gap: 1rem;
      padding-bottom: 1rem;
      img {
        border-radius: 1rem;
      }
    }
    .img-credits {
      text-align: center;
      a {
        color: @purple;
        font-family: 'Cabin Condensed', sans-serif;
        font-size: .9rem;
        padding: .5rem 0 1rem;
      }
    }
  }
}

@media (min-width: 375px) {
  .machines {
    .game-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      grid-row-gap: 2rem;
      margin-top: 1rem;
    }
    img.game-o {
      display: block;
      border-radius: 100%;
      align-self: center;
      height: 140px;
      width: 140px;
      margin: 0 auto;
    }
  }
  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .machines {
    .game-grid {
      grid-template-columns: repeat(5, 1fr);
      .gl1 { order: 1; }
      .gl2 { order: 3; }
      .gl3 { order: 5; }
      .gl4 { order: 7; }
      .gl5 { order: 9; }
      .o-1 { order: 2; }
      .o-2 { order: 4; }
      .o-3 { order: 6; }
      .o-4 { order: 8; }
      .o-5 { order: 10; }
    }
  }
}

@media (min-width: 900px) {
  .machines {
    .game-grid {
      img.game-o {
        height: 150px;
        width: 150px;
      }
    }
  }
}