@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,600|Oleo+Script:400,700');
img {
  display: block;
  max-width: 100%;
}
.logo {
  background-color: #FEFEFE;
  max-width: 50%;
  margin: 0 auto;
}
main {
  background-color: #212121;
  font-size: 16px;
  padding: 1rem;
}
main img {
  display: block;
  margin: 0 auto;
}
main h1,
main h2,
main h3,
main h4,
main h6 {
  font-family: 'Oleo Script', cursive;
  color: #FFD602;
}
main h5,
main p,
main blockquote,
main small,
main em,
main figcaption,
main label,
main input,
main textarea {
  font-family: 'Cabin Condensed', sans-serif;
  color: #FEFEFE;
}
main section {
  padding-bottom: 1.5rem;
}
main figure figcaption {
  color: #FEFEFE;
  font-size: .8rem;
  line-height: 1.1;
  padding: .2rem 1rem;
}
main figure img {
  display: block;
  margin: 0 auto;
}
main h1 {
  font-size: 2rem;
  padding-bottom: .8rem;
  text-align: center;
}
main h2 {
  font-size: 1.2rem;
  padding-bottom: .5rem;
  text-align: center;
}
main h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 1rem 0;
}
main h4 {
  font-size: 1.2rem;
  padding: .5rem 0 1rem;
}
main h5 {
  color: #EEEEEE;
  font-weight: 700;
  font-style: italic;
  font-size: .9rem;
  padding: .5rem 0 1.5rem;
  text-align: center;
}
main p {
  line-height: 1.2;
  padding: 1rem 0;
}
main .intro h3,
main .intro h4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
main .machines ul {
  padding-left: 1rem;
  line-height: 1.3;
}
main .machines ul li a {
  color: #B37EF0;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.2rem;
}
main .gallery .pictures {
  display: grid;
  grid-gap: 1rem;
  padding-bottom: 1rem;
}
main .gallery .img-credits {
  text-align: center;
}
main .gallery .img-credits a {
  color: #B37EF0;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: .9rem;
  padding: .5rem 0 1rem;
}
@media (min-width: 500px) {
  .pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .pictures {
    grid-template-columns: repeat(3, 1fr);
  }
}
