@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,600|Oleo+Script:400,700');
img {
  display: block;
  max-width: 100%;
}
.logo {
  background-color: #FEFEFE;
  max-width: 50%;
  margin: 0 auto;
}
main {
  background-color: #212121;
  font-size: 16px;
  padding: 1rem;
}
main img {
  display: block;
  margin: 0 auto;
}
main h1,
main h2,
main h3,
main h4,
main h6 {
  font-family: 'Oleo Script', cursive;
  color: #FFD602;
}
main h5,
main p,
main blockquote,
main small,
main em,
main figcaption,
main label,
main input,
main textarea {
  font-family: 'Cabin Condensed', sans-serif;
  color: #FEFEFE;
}
main section {
  padding-bottom: 1.5rem;
}
main figure figcaption {
  color: #FEFEFE;
  font-size: .8rem;
  line-height: 1.1;
  padding: .2rem 1rem;
}
main figure img {
  display: block;
  margin: 0 auto;
}
main h1 {
  font-size: 2rem;
  padding-bottom: .8rem;
  text-align: center;
}
main h2 {
  font-size: 1.2rem;
  padding-bottom: .5rem;
  text-align: center;
}
main h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  padding: 1rem 0;
}
main h4 {
  font-size: 1.2rem;
  padding: .5rem 0 1rem;
}
main h5 {
  color: #EEEEEE;
  font-weight: 700;
  font-style: italic;
  font-size: .9rem;
  padding: .5rem 0 1.5rem;
  text-align: center;
}
main p {
  line-height: 1.2;
  padding: 1rem 0;
}
main .intro h3,
main .intro h4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
main .machines ul {
  line-height: 2;
  text-align: center;
}
main .machines ul li a {
  color: #CA00E5;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.2rem;
}
main .machines ul li a:hover {
  color: #1826F6;
}
main .machines .game-o {
  display: none;
}
main .gallery .pictures {
  display: grid;
  grid-gap: 1rem;
  padding-bottom: 1rem;
}
main .gallery .pictures img {
  border-radius: 1rem;
}
main .gallery .img-credits {
  text-align: center;
}
main .gallery .img-credits a {
  color: #CA00E5;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: .9rem;
  padding: .5rem 0 1rem;
}
@media (min-width: 375px) {
  .machines .game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-row-gap: 2rem;
    margin-top: 1rem;
  }
  .machines img.game-o {
    display: block;
    border-radius: 100%;
    align-self: center;
    height: 140px;
    width: 140px;
    margin: 0 auto;
  }
  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .machines .game-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .machines .game-grid .gl1 {
    order: 1;
  }
  .machines .game-grid .gl2 {
    order: 3;
  }
  .machines .game-grid .gl3 {
    order: 5;
  }
  .machines .game-grid .gl4 {
    order: 7;
  }
  .machines .game-grid .gl5 {
    order: 9;
  }
  .machines .game-grid .o-1 {
    order: 2;
  }
  .machines .game-grid .o-2 {
    order: 4;
  }
  .machines .game-grid .o-3 {
    order: 6;
  }
  .machines .game-grid .o-4 {
    order: 8;
  }
  .machines .game-grid .o-5 {
    order: 10;
  }
}
@media (min-width: 900px) {
  .machines .game-grid img.game-o {
    height: 150px;
    width: 150px;
  }
}
